In [19]:
import os
import pandas as pd
from pandas import DataFrame, Series

In [23]:
os.chdir('../2015')

In [24]:
ls

bcp012015.dat  bwp062015.dat  bwp132015.dat  bwp202015.dat  bwp272015.dat
bcp032015.dat  bwp072015.dat  bwp142015.dat  bwp212015.dat  bwp282015.dat
bwp012015.dat  bwp082015.dat  bwp152015.dat  bwp222015.dat  bwp292015.dat
bwp022015.dat  bwp092015.dat  bwp162015.dat  bwp232015.dat
bwp032015.dat  bwp102015.dat  bwp172015.dat  bwp242015.dat
bwp042015.dat  bwp112015.dat  bwp182015.dat  bwp252015.dat
bwp052015.dat  bwp122015.dat  bwp192015.dat  bwp262015.dat

In [35]:
# State the columns' headers
data_columns = ['BASIN','CY','YYYYMMDDHH','TECHNUM','TECH','TAU','LatN/S','LonE/W','VMAX','MSLP',
'TY','RAD','WINDCODE','RAD1','RAD2','RAD3','RAD4','RADP','RRP,MRD','GUSTS','EYE',
'SUBREGION','MAXSEAS','INITIALS,DIR','SPEED','STORMNAME','DEPTH','SEAS',
'SEASCODE','SEAS1','SEAS2','SEAS3','SEAS4']

# Load the cyclone track data
cyclone_track = pd.read_csv('bwp012015.dat',names=data_columns,nrows=5)

In [36]:
cyclone_track

,BASIN,CY,YYYYMMDDHH,TECHNUM,TECH,TAU,LatN/S,LonE/W,VMAX,MSLP,...,"INITIALS,DIR",SPEED,STORMNAME,DEPTH,SEAS,SEASCODE,SEAS1,SEAS2,SEAS3,SEAS4
0,WP,1,2015011206,,BEST,0,86N,1459E,15,1010,...,0,,0,0,INVEST,S,,NaN,NaN,NaN
1,WP,1,2015011212,,BEST,0,87N,1447E,20,1003,...,0,,0,0,INVEST,S,,NaN,NaN,NaN
2,WP,1,2015011218,,BEST,0,88N,1436E,20,1004,...,0,,0,0,INVEST,S,,NaN,NaN,NaN
3,WP,1,2015011300,,BEST,0,87N,1429E,20,1002,...,0,,0,0,INVEST,M,,NaN,NaN,NaN
4,WP,1,2015011306,,BEST,0,85N,1425E,20,1007,...,0,,0,0,INVEST,M,,NaN,NaN,NaN

In [40]:
cyclone_track['LatN/S'][0]

'  86N'